@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #2C384A;
  background-color:#FBFCFD;
  
}
*{
  margin: 0;
  padding: 0;
}