.main{
    width: 70%;
    margin: auto;
}

.heading{
    size: 48px;
    line-height: 60px;
    font-weight: 400;
    color: #2C384A;

}
@media screen and (max-width: 992px) {
     .info{
        visibility: hidden;
        height: 0px;
     }
     .head2{
        font-size: 1.2rem !important;
     }
     .flow{
        margin-bottom: 4rem;
     }
     .signUp_container{
        flex-direction: column;
     }
     .signUp{
        width: 100% !important;
    }
    .nav2{
        display: grid !important;
        grid-template-columns: auto auto auto !important;
    }
  }

.info{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #4B5665;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-link{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #4B5665;
    margin-right: 3rem;

}

.flow{
    margin-top: 3rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #4B5665;

}

.signUp{
    width: 400px;
    height: 52px;
    border-radius: 0 !important;
    border: none !important;
}

.btn{
    border-radius: 0px 12px 12px 0px !important;
}

.form{
    border: none !important
}

.main h2{
    width: 398px;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    letter-spacing: 0em;


}

.signUp_container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.footer{
    background: #212731;
    width: 100%;
height: 452px;
display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 3%;
margin-top: 2rem;

}

.footer h5{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;



}

.footer-link{
    text-decoration: none !important;
    color: #B6BDC4;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;


}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;

}.center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;

}